body {
  background-color: lightgray;
}

h1 {
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: solid black 20px;
  border-color: lightskyblue;
  padding: 10px;
  background-color: lightskyblue;
}

.name,
.image,
.seo {
  background-color: rgb(146, 146, 146);
  border: solid black 2px;
  border-color: black;
  box-shadow: 5px 10px black;
}

.me-border {
  border-right: solid lightskyblue 5px;
  padding: 60px;
}

.paragraph,
.h3-border,
.link-border {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 200px;
  border-bottom: solid lightskyblue 5px;
  padding-bottom: 50px;
}

.work-border {
  border-right: solid lightskyblue 5px;
  padding: 38px;
}

.contact-border {
  border-right: solid lightskyblue 5px;
  padding: 66px;
}

.about-me,
.my-work {
  display: inline-flex;
  padding: 50px;
  margin-left: 50px;
}

.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#nav-links,
#contact-me {
  display: inline-block;
  margin-right: 15px;
  padding: 5px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
